<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Canada Votes 2025!</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Tutum dev team">
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
        <h3>Who's Your Vote?</h3>
        <form id="choice" name='form' method="POST" action="/">
          <button id="bloc" type="submit" name="vote" class="voteBtn" value="Bloc">{{option_bloc}}</button>
          <button id="consv" type="submit" name="vote" class="voteBtn" value="Conservative">{{option_consv}}</button>
          <button id="lib" type="submit" name="vote" class="voteBtn" value="Liberal">{{option_lib}}</button>
          <button id="ndp" type="submit" name="vote" class="voteBtn" value="NDP">{{option_ndp}}</button>
          <button id="other" type="submit" name="vote" class="voteBtn" value="Other">{{option_other}}</button>
          <button id="none" type="submit" name="vote" class="voteBtn" value="Not_Voting">{{option_none}}</button>
        </form>
        <div id="tip">
          (Tip: You can vote only once!)
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    {% if vote %}
    <script>
      $('form').on('click', 'input[type="submit"]', function() {
        var submitValue = $(this).val();
        $(".voteBtn").prop('disabled', true);
        $(".voteBtn").filter(function() {
          return $(this).val() === submitValue;
        }).html(submitValue + ' <i class="fa fa-check-circle"></i>');
        $(".voteBtn").filter(function() {
          return $(this).val() !== submitValue;
        }).css('opacity','0.5');
      });
    </script>
    {% endif %}
  </body>
</html>
